@import url("style.css");

#main {
  position: relative;
  height: 100%;
  margin: auto;
  width: 1240px;
  display: flex;
  flex-direction: column;
}

#contact_modal {
  display: none;
}

/* ----- Header ----- */

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  order: 1;
  margin-bottom: 16px;
  border-radius: 5px;
}

.photograph-header .photographer-profile h1 {
  margin: 0;
  color: var(--secondary-color);
  font-size: calc(64rem / 16);
  font-weight: 400;
}

.photograph-header .photographer-profile .photographer-location {
  margin: 0;
  margin-bottom: 18px;
  color: var(--primary-color);
  font-size: calc(24rem / 16);
}

.photograph-header .photographer-profile .photographer-tagline {
  margin: 0;
  color: #525252;
  font-size: calc(18rem / 16);
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

/* ----- Filter ----- */
.filter-container{
  order: 2;
  margin-bottom: 24px;
  font-family: 'DM sans';
  display: flex;
  align-items: baseline;
}

.filter-container #dropdown-label {
  font-weight: 700;
  font-size: calc(18rem/16);
  margin-right: 24px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown .dropdown-toggle {
  appearance: none;
  background: var(--primary-color);
  color: #ffffff;
  border: none;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 5px;
  position: relative;
  width: 170px;
  cursor: pointer;
  height: 69px;
  font-weight: 700;
  font-size: calc(18rem/16);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown-toggle.open {
  border-radius: 5px 5px 0 0;
}

.dropdown .dropdown-toggle .arrow{
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(178deg) brightness(200%) contrast(200%);
  width: 32px;
  transform: rotate(90deg);
}

.dropdown .dropdown-toggle .arrow.open{
  transform: rotate(270deg);
}

.dropdown .dropdown-list {
  list-style: none;
  margin: 0;
  padding: 9px 0 0;
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  font-size: calc(18rem/16);
  border-radius: 5px;
  border-left: 10px solid var(--primary-color);
  border-right: 10px solid var(--primary-color);
  position: absolute;
  top: 0;
  width: 170px ;
  z-index: 10;
}

.dropdown .dropdown-list .listbox-item:first-of-type {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
  padding-top: 9px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.dropdown .dropdown-list .listbox-item {
  padding: 13px 10px;
  border-top: 1px solid white;
}

.dropdown .dropdown-list .listbox-item .arrow {
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(178deg) brightness(200%) contrast(200%);
  width: 32px;
  transform: rotate(270deg);
}

.hidden {
  display: none;
}


/* ----- Media ----- */

.media-display-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 350px);
  column-gap: 95px;
  row-gap: 20px;
  order: 3;
}

.media-card {
  height: 350px;
  width: 350px;
}

.media-card .media {
  width: 350px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 5px;
  cursor: pointer;
}

.media-card .media-info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.media-card .media-info .media-title {
  color: var(--primary-color);
  font-size: calc(20rem / 16);
  font-weight: 400;
  margin: 0;
  cursor: default;
}

.media-card .media-info .like-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--primary-color);
}

.media-card .media-info .like-button.liked .fa-heart{
  font-weight: 700;
}

.media-card .media-info .like-button .fa-heart{
  font-size: 18px;
}

/* Modale */

#contact_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  align-items: center;
}

.background-modal {
  width: 100%;
  height: 100%;
  background-color: #c4c4c466;
  position: fixed;
  top: 0;
  align-items: center;
  z-index: 1;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  z-index: 2;
}

.modal header {
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;
}

.modal header img {
  cursor: pointer;
}

.modal header .modal-title {
  color: #000000;
  font-size: 50px;
  font-weight: normal;
}

.modal header #close-button {
  border: none;
  background-color: transparent;
}

.modal .error-message {
  display: none;
  font-size: calc(16rem / 16);
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 32px;
  margin-top: 8px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input, form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form textarea {
  height: 150px;
}

form .contact_button {
  height: 64px;
}

/* toast */
.toast-container {
  background-color: #db8876;
  display: flex;
  gap: 40px;
  width: fit-content;
  padding: 21px 32px 16px;
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: 0px;
  right: 10%;
  font-size: calc(24rem / 16);
}

.toast-container p {
  margin: 0px;
}

.toast-container .total-likes-container{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}

.likes-container {
  display: flex;
}

/* lightbox */
#lightbox_modal {
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#lightbox_modal .closing-button {
  cursor: pointer;
  position: fixed;
  top: 58px;
  right: 112px;
  border: none;
  background-color: transparent;
}

#lightbox_modal .arrow {
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: transparent;
}

#lightbox_modal .arrow.right {
  right: 100px;
}

#lightbox_modal .arrow.left {
  transform: rotate(180deg);
  left: 100px;
}

#lightbox_modal .media-container {
  height: 100%;
  padding: 56px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#lightbox_modal .media-container .lightbox-media {
  max-width: 1050px;
  max-height: 100%;
  border-radius: 5px;
  box-shadow: 4px 0px 5px 0px #C4C4C4;
  object-fit: cover;
}

#lightbox_modal .media-title {
  color: var(--primary-color);
  font-weight: 400;
  font-size: calc(24rem /16);
  margin: 5px 0px 14px;
  text-align: left;
}